<header class="px-2 clearfix">
  <!-- <div class="left-lg absolute-lg left-0 top-0 sm-width-full mt-2">
    <a class="no-underline-hover px-1" href="{{ site.baseurl }}/">
      <span class="inline-block h4 hide-sm ml-2">&#x261c;</span>
    </a>
    <a class="italic no-underline" href="{{ site.baseurl }}/">
       home
    </a>
  </div> -->

    <div id="nav" class="center mt-2">
        <ul class="list-reset">
            <li>
                <h1 class="h1 lh-condensed font-smoothing mb-0 mt-0">{{ site.title }}</h1>
                <a class="no-underline" href="{{ site.baseurl }}/">
                    <img class="icon-size mb-1 mt-1" alt="home" src='{{ "/assets/updated_crest.png" | prepend: full_base_url }}'>
                </a>
            </li>
        </ul>
        <ul class="list-reset nav-fix">
            {% assign sorted_pages = site.pages | sort:"order" %}
            {% for my_page in sorted_pages %}
                {% if my_page.name != 'style.css' %}
                <li class="inline">
                    <a class="no-underline h3 mr-2 menu-font" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

   <!-- OG nav -->
  <!--<div class="right-lg absolute-lg right-0 top-0 mobile-menu">-->
    <!--<ul class="mt-2 mr-2 mr-lg-3">-->
      <!--<li id="logo-item" class="inline-block block-lg text-right ml-1 ml-lg-0">-->
        <!--<a class="italic h4 bold no-underline" href="{{ site.baseurl }}/">-->
          <!--<img class="icon-size" alt="home" src="{{ "/assets/kk.png" | prepend: full_base_url }}">-->
        <!--</a>-->
      <!--</li>-->
      <!--{% assign sorted_pages = site.pages | sort:"order" %}-->
      <!--{% for my_page in sorted_pages %}-->
        <!--{% if my_page.title %}-->
        <!--<li class="inline-block block-lg text-right ml-1 ml-lg-0">-->
          <!--<a class="italic no-underline h4" href="{{ my_page.url | prepend: site.baseurl }}">-->
            <!--{{ my_page.title }}-->
          <!--</a>-->
        <!--</li>-->
        <!--{% endif %}-->
      <!--{% endfor %}-->
    <!--</ul>-->
  <!--</div>-->
</header>
