<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="containter-fluid">
    {% include header.html %}

        <div>
            {{ content }}
        </div>

        {% include footer.html %}
    </div>
  </body>

</html>
