---
layout: default
williams_sonoma: /assets/images/gifts/williams_sonoma.png
c_and_b: /assets/images/gifts/crate_and_barrel.png
target: /assets/images/gifts/target.png
---
<article class="container mx-auto px-2">

    <div class="mt-2 mb-2 clearfix header-text mt-reset">
        <p class="h2 inline-block mt-2-im">{{ page.title }}</p>
        <div class="clearfix mb-2 mb-reset">
            <div class="col-1 sm-width-full border-top-thick"></div>
        </div>
    </div>

    <div class="center">
        <a onclick="handleOutboundLinkClicks('the-registry')" class="no-underline" href="https://www.theregistryfranklin.com/istar.asp?a=46&grid=1-2875&pos=0">
            <img class="mt-1 col-9 mobile-image-fix" src="{{ page.img_src | prepend: full_base_url }}">
        </a>
    </div>

    <div class="center gift-images">
        <ul class="list-reset">
            <li class="px-3 inline-block mt-4">
                <a onclick="handleOutboundLinkClicks('williams-sonoma')" class="no-underline" href="https://secure.williams-sonoma.com/registry/300138997/registry-list.html?cm_ven=WedCh&bnrid=3117550&cm_ite=GiftGiver&cm_pla=WCSearchResults&cm_cat=Registry">
                    <img src='{{ "/assets/images/gifts/williams_sonoma.png" | prepend: full_base_url }}'>
                </a>
            </li>
            <li class="px-3 inline-block mt-4">
                <a onclick="handleOutboundLinkClicks('crate-and-barrel')" class="no-underline" href="https://www.crateandbarrel.com/gift-registry/katie-bomar-and-kris-plunkett/r5672938">
                    <img width="150px" src='{{ "/assets/images/gifts/crate_and_barrel.png" | prepend: full_base_url }}'>
                </a>
            </li>
            <li class="px-3 inline-block mt-4 mobile-mb-4">
                <a onclick="handleOutboundLinkClicks('target')" class="no-underline" href="https://www-secure.target.com/gift-registry/giftgiver?clkid=4b95602aN8f9864faf942e1cfbb3ae031&lnm=81938&afid=The%20Knot%2C%20Inc.%20and%20Subsidiaries&ref=tgt_adv_xasd0002&registryId=506ec12172444b25a80654483d396a39#1">
                    <img height="100px" src='{{ "/assets/images/gifts/target.png" | prepend: full_base_url }}'>
                </a>
            </li>
        </ul>
    </div>
</article>
