<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="center mt-2">
    <img class="home-image col-6 home-image" src='{{ "/assets/images/pages/home_crop.jpg" | prepend: full_base_url }}'>
    <p id="date" class="h3 font-smoothing italic mt-1">Friday, September 29th, 2017</p>
</div>

        <!--<div class="center">-->
            <!--<ul class="list-reset mt-3">-->
                <!--{% assign sorted_pages = site.pages | sort:"order" %}-->
                <!--{% for my_page in sorted_pages %}-->
                <!--{% if my_page.title %}-->
                <!--<li class="inline px-1">-->
                    <!--<a class="italic no-underline h3" href="{{ my_page.url | prepend: site.baseurl }}">-->
                        <!--{{ my_page.title }}-->
                    <!--</a>-->
                <!--</li>-->
                <!--{% endif %}-->
                <!--{% endfor %}-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

{% include footer.html %}

</body>

</html>
