<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="center mt-2">
    <img class="home-image py-1" src="https://lh3.googleusercontent.com/NZkHugxvx9h_7r_5WfXK0G7viCOmogpXILzCNBjMnUD2nfzMOKWlzzVLQ3ZVp_Kvu3shkdEfgWtVQL6B5rIyQP2jf3BeL8Gx28SAC6PmJmLoL5-6s6Je43dT473XOmn1vom1UJMTG5ic-ElDRUqj35qZaiICDpoJFZebB_gfRWsM_euBe3fUwmyN8Ha8ESUM9x8QkWo6xcGJTiZAd6tQxP0uxGhQNvvUy4KKlmFo-PKqoxsH9PgZFIILN9sn-3efP7eGNe2SM0CL4gHEQGgSyo3Rbt4ZP8GdubAqRhzT16r4YVnHxlY2RfCsxMhw8Z7MqU9FD-gJxdb2TsfzZnUebnGcjt1uNm7VV52OLVgP-JNqwkLbWhyUwVMgLtA4FiI94VwTV03bu8t2ZiT6IKfE0aHb4avT7x4xz_FUUaRkfxRfEZHNCQplVuNQpCQND3R0l6-P__lzmcmkOB8zJgisuzigeJi3u5FqkGP0-5WwI_o_4lTr7vOJiZe52EBV7wCGDKyOHp6g2GRNrqkQ6x7UOYIW-o8B_5tPTzVI9-Gs3cDF1YfaFCqJByJHgwgOa4ufrxaeXzayTXbqZrk_WvpgCRs9BIwNek8jFFKnIzJ_J6KnyuM9Qe96fyktR6a7MsN_nHNhKRoILzaF-_aBkBqILO4FYGnj1FEUlagfXgpFG-U=w664-h442-no">
    <p class="h3 font-smoothing py-1">9/29/17</p>
</div>

        <!--<div class="center">-->
            <!--<ul class="list-reset mt-3">-->
                <!--{% assign sorted_pages = site.pages | sort:"order" %}-->
                <!--{% for my_page in sorted_pages %}-->
                <!--{% if my_page.title %}-->
                <!--<li class="inline px-1">-->
                    <!--<a class="italic no-underline h3" href="{{ my_page.url | prepend: site.baseurl }}">-->
                        <!--{{ my_page.title }}-->
                    <!--</a>-->
                <!--</li>-->
                <!--{% endif %}-->
                <!--{% endfor %}-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

{% include footer.html %}

</body>

</html>
