---
layout: default
---
<article class="container mx-auto px-2">

    {% include page_heading.html %}

    <div class="prose mb-4 mb-reset">
        {{ content }}
    </div>

    <div class="clear mt-2 mb-2 header-text mt-reset">
        <p class="h2 mt-2 inline-block">Photos</p>
        <div class="clearfix mb-2">
            <div class="col-1 sm-width-full border-top-thick"></div>
        </div>
    </div>
    <div class="center container">
        <!--<img class="mt-2 mb-2 col-8" src="{{ page.img_src }}">-->
        <ul class="list-reset">
            {% assign static_files = site.static_files | sort:"title" %}
            {% for image in static_files %}
            {% if image.path contains 'assets/images/gallery' %}
            <li class="inline center">
                <img class="py-1 px-1 col-8 mobile-image-fix" src="{{ image.path | prepend: full_base_url }}">
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <!--<div class="center clearfix mt-1">-->
        <!--<h1 class="h1 clear mt-1">Photos</h1>-->

    <!--</div>-->
</article>
